# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Database backups
backups/*.sql
backups/*.sql.gz
backups/*.dump

# Misc
.DS_Store
*.log
